body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px auto;
    width: 50%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#download-path-container {
    margin-top: 20px;
}

#download-path {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

#browse-btn {
    margin-left: 10px;
}
